<!doctype html>
<head>
	<title>Video Links from excel file</title>
<!--	<script src="/static/base.js"></script>    -->
	<link href="/static/base.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1 title="This is the base for all the pages">Hello World!</h1>

    {% block content %}{% endblock %}
</body>
