{% extends "base.html" %}
{% block content %}
    <div class='page1'>
        <h3>Video Links</h3>
        <p>Spreadsheet of video links</p>
        <div class="linktable">
            {{ content|safe }}
        </div>
    </div>
{% endblock content %}
